.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/Weblinkedln.iml
frontend/.angular/cache/18.1.2/frontend/.tsbuildinfo
frontend/.angular/cache/18.1.2/vite/deps/_metadata.json
frontend/.angular/cache/18.1.2/vite/deps/@angular_common_http.js
frontend/.angular/cache/18.1.2/vite/deps/@angular_common_http.js.map
frontend/.angular/cache/18.1.2/vite/deps/@angular_common.js
frontend/.angular/cache/18.1.2/vite/deps/@angular_common.js.map
frontend/.angular/cache/18.1.2/vite/deps/@angular_core.js
frontend/.angular/cache/18.1.2/vite/deps/@angular_core.js.map
frontend/.angular/cache/18.1.2/vite/deps/@angular_forms.js
frontend/.angular/cache/18.1.2/vite/deps/@angular_forms.js.map
frontend/.angular/cache/18.1.2/vite/deps/@angular_platform-browser.js
frontend/.angular/cache/18.1.2/vite/deps/@angular_platform-browser.js.map
frontend/.angular/cache/18.1.2/vite/deps/@angular_router.js
frontend/.angular/cache/18.1.2/vite/deps/@angular_router.js.map
frontend/.angular/cache/18.1.2/vite/deps/chunk-IXMSQB6S.js
frontend/.angular/cache/18.1.2/vite/deps/chunk-IXMSQB6S.js.map
frontend/.angular/cache/18.1.2/vite/deps/chunk-L4QKAGZM.js
frontend/.angular/cache/18.1.2/vite/deps/chunk-L4QKAGZM.js.map
frontend/.angular/cache/18.1.2/vite/deps/chunk-NNGPYRY7.js
frontend/.angular/cache/18.1.2/vite/deps/chunk-NNGPYRY7.js.map
frontend/.angular/cache/18.1.2/vite/deps/chunk-XZMQGEYK.js
frontend/.angular/cache/18.1.2/vite/deps/chunk-XZMQGEYK.js.map
frontend/.angular/cache/18.1.2/vite/deps/chunk-ZBM3UR5Z.js
frontend/.angular/cache/18.1.2/vite/deps/chunk-ZBM3UR5Z.js.map
frontend/.angular/cache/18.1.2/vite/deps/package.json
frontend/.angular/cache/18.1.2/vite/deps/rxjs.js
frontend/.angular/cache/18.1.2/vite/deps/rxjs.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/_metadata.json
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_common_http.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_common_http.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_common.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_common.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_core.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_core.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_forms.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_forms.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_platform-browser.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_platform-browser.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_platform-server.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_platform-server.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_router.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/@angular_router.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-5PQ5TNZU.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-5PQ5TNZU.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-7I6SQLRS.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-7I6SQLRS.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-AKHKBGXQ.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-AKHKBGXQ.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-KEBAMMZN.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-KEBAMMZN.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-NQ4HTGF6.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-NQ4HTGF6.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-WJV7OOJJ.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/chunk-WJV7OOJJ.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/package.json
frontend/.angular/cache/18.1.2/vite/deps_ssr/rxjs.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/rxjs.js.map
frontend/.angular/cache/18.1.2/vite/deps_ssr/xhr2-LAWUPAY3.js
frontend/.angular/cache/18.1.2/vite/deps_ssr/xhr2-LAWUPAY3.js.map
frontend/.idea/frontend.iml
frontend/.idea/modules.xml
frontend/.idea/vcs.xml
frontend/.idea/workspace.xml
