<app-navbar></app-navbar>

<div
  class="container d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="row w-100 justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg">
        <div class="card-body p-4">
          <h3 class="card-title text-center mb-4">My Settings</h3>
          <form
            #loginForm="ngForm"
            enctype="multipart/form-data"
            (ngSubmit)="onSubmit()"
            novalidate
          >
            <!-- Email Field -->
            <app-alert></app-alert>
            <!-- Photo Upload Field -->

            <div class="mb-3">
              <label for="employeename" class="form-label">First Name:</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="employeename"
                required
                id="employeename"
                name="employeename"
                placeholder="Enter your first name"
                #employeenameField="ngModel"
                [ngClass]="{
                  'is-invalid': loginForm.submitted && employeenameField.invalid
                }"
              />
              <div
                *ngIf="loginForm.submitted && employeenameField.invalid"
                class="invalid-feedback"
              >
                First name is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="employeelastname" class="form-label"
                >Last Name:</label
              >
              <input
                type="text"
                class="form-control"
                [(ngModel)]="employeelastname"
                required
                id="employeelastname"
                name="employeelastname"
                placeholder="Enter your last name"
                #employeelastnameField="ngModel"
                [ngClass]="{
                  'is-invalid':
                    loginForm.submitted && employeelastnameField.invalid
                }"
              />
              <div
                *ngIf="loginForm.submitted && employeelastnameField.invalid"
                class="invalid-feedback"
              >
                Last name is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                class="form-control"
                [(ngModel)]="email"
                required
                id="email"
                name="email"
                placeholder="Enter your email"
                #emailField="ngModel"
                [ngClass]="{
                  'is-invalid': loginForm.submitted && emailField.invalid
                }"
              />
              <div
                *ngIf="loginForm.submitted && emailField.invalid"
                class="invalid-feedback"
              >
                Email is required.
              </div>
            </div>

            <!-- Password Field -->
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="password"
                required
                id="password"
                name="password"
                placeholder="Enter your password"
                #passwordField="ngModel"
                [ngClass]="{
                  'is-invalid': loginForm.submitted && passwordField.invalid
                }"
              />
              <div
                *ngIf="loginForm.submitted && passwordField.invalid"
                class="invalid-feedback"
              >
                Password is required.
              </div>
            </div>

            <!-- New Password Field -->
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password:</label>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="newPassword"
                required
                id="newPassword"
                name="newPassword"
                placeholder="Enter your new password"
                #newPasswordField="ngModel"
                [ngClass]="{
                  'is-invalid': loginForm.submitted && newPasswordField.invalid
                }"
              />
              <div
                *ngIf="loginForm.submitted && newPasswordField.invalid"
                class="invalid-feedback"
              >
                New password is required.
              </div>
            </div>

            <!-- Confirm New Password Field -->
            <div class="mb-3">
              <label for="confirmNewPassword" class="form-label"
                >Confirm New Password:</label
              >
              <input
                type="password"
                class="form-control"
                [(ngModel)]="confirmNewPassword"
                required
                id="confirmNewPassword"
                name="confirmNewPassword"
                placeholder="Confirm your new password"
                #confirmNewPasswordField="ngModel"
                [ngClass]="{
                  'is-invalid':
                    loginForm.submitted && confirmNewPasswordField.invalid
                }"
              />
              <div
                *ngIf="loginForm.submitted && confirmNewPasswordField.invalid"
                class="invalid-feedback"
              >
                Confirming your new password is required.
              </div>
              <br />
              <div class="mb-3">
                <label for="photo" class="form-label"
                  >Upload Profile Photo:</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="photo"
                  name="photo"
                  (change)="onFileSelected($event)"
                />
              </div>
            </div>

            <!-- Update Button -->
            <button class="btn btn-primary w-100 py-2" type="submit">
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
