<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img alt="Web Linkedln" style="height: 30px" class="mr-2" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-settings">My Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>

      <!-- Job Posting Dropdown Menu -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="jobPostingDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Job Posting
        </a>
        <ul class="dropdown-menu" aria-labelledby="jobPostingDropdown">
          <li>
            <a class="dropdown-item" routerLink="/create-job-opening"
              >Create Job Opening</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/job-searching"
              >Job Searching</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn()" class="nav-item">
        <button class="btn btn-outline-primary" (click)="logout()">
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
